<div>
  <mat-toolbar color="accent" role="header">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>{{title}}</h1>
    <span class="fill-remaining-space"></span>
    <span>Ostap Gonchar</span>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #snav [mode]="over">
      <mat-list>
        <mat-list-item>30.04.2018 - 06.05.2018</mat-list-item>
        <mat-list-item>07.05.2018 - 13.05.2018</mat-list-item>
        <mat-list-item>14.05.2016 - 20.05.2018</mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-grid-list cols="7" rowHeight="1:2">
        <mat-grid-tile>
          <app-day-table [(day)]="week.monday"></app-day-table>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-day-table [day]="week.tuesday"></app-day-table>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-day-table [day]="week.wednesday"></app-day-table>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-day-table [day]="week.thursday"></app-day-table>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-day-table [day]="week.friday"></app-day-table>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-day-table [day]="week.saturday"></app-day-table>
        </mat-grid-tile>
        <mat-grid-tile>
          <app-day-table [day]="week.sunday"></app-day-table>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>